﻿@page
@model sadaWeb.Pages.NuevaAulaModel
@{
    ViewData["Title"] = "Nueva Aula";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <br />
            <h6>Agregar una nueva aula: </h6>
            <br />
            <div class="form-container">
                <form id="requestForm" data-toggle="validator" data-focus="false">
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="" name="" placeholder="Nombre">
                        <label class="label-control" for=""></label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control-input" id="" name="" placeholder="Capacidad">
                        <label class="label-control" for=""></label>
                        <div class="help-block with-errors"></div>
                    </div>
                    <br />
                    <div class="form-group checkbox">
                        <h6>Recursos (seleccione): </h6>
                        <br />
                        <div class="row">

                            <div class="col-md-3">
                                <input type="checkbox" id="" value="" name="">Proyector
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" id="" value="" name="">Pizarrón
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" id="" value="" name="">Destilador
                            </div>
                            <div class="col-md-3">
                                <input type="checkbox" id="" value="" name="">Tomacorriente
                            </div>
                        </div>
                    </div>
                    <div class="form-message">
                        <div id="rmsgSubmit" class="h3 text-center hidden"></div>
                    </div>
                    <div class="form-group">
                        <br />
                        <a href="aulas.html">
                            <button type="button" class="form-control-submit-button">CREAR</button>
                        </a>

                    </div>
                    <div class="form-message">
                        <div id="rmsgSubmit" class="h3 text-center hidden"></div>
                    </div>
                    <br />
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>