﻿@page
@model sadaWeb.Pages.NuevaAsignaturaModel
@{
    ViewData["Title"] = "Nueva Asignatura";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <br />
            <h6>Crear una nueva asignatura: </h6>
            <br />
            <div class="form-container">
                <form id="requestForm" data-toggle="validator" data-focus="false">
                    <div class="form-group">
                        <input type="text" class="form-control-input" id="" name="" placeholder="Nombre">
                        <label class="label-control" for=""></label>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group">
                        <a href="asignaturas.html">
                            <button type="button" class="form-control-submit-button">CREAR</button>
                        </a>
                    </div>
                    <div class="form-message">
                        <div id="rmsgSubmit" class="h3 text-center hidden"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>