﻿@page
@model sadaWeb.Pages.PerfilModel
@{
    ViewData["Title"] = "Perfil";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SADA - Resultado</title>

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="css/styles-custom.css" rel="stylesheet">
    <link rel="icon" href="images/sada.ico">
</head>

<body id="page-top">
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">
            <!-- <div class="text-center d-none d-md-inline mt-3">
              <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div> -->
            <div class="text-center d-none d-md-inline mt-5"></div>
            <!-- <a class="sidebar-brand d-flex align-items-center justify-content-center" href="admin.html">
              <div class="sidebar-brand-text mx-3">Dr. Dalmacio Vélez Sarsfield</div>
            </a> -->
            <div class="sidebar-brand-text mx-5"></div>
            <!-- <hr class="sidebar-divider my-0"> -->
            <li class="nav-item active">
                <a class="nav-link" href="Aulas">
                    <i class="fa fa-graduation-cap"></i>
                    <span>Aulas</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="Asignaturas">
                    <i class="fa fa-paperclip"></i>
                    <span>Asignaturas</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="Comisiones">
                    <i class="fa fa-users"></i>
                    <span>Comisiones</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="Procesamiento">
                    <i class="fa fa-file"></i>
                    <span>Procesamiento</span>
                </a>
            </li>
            <hr class="sidebar-divider" />
        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand logo-image" href="admin.html"><img src="img/sada.png" alt="" width="125"></a>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>


                        <!-- <li class="nav-item dropdown no-arrow">
                          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img width="10" class="img-profile mr-2" src="https://i.ibb.co/D4Z2cCh/argentina-1.png" />
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small"> Español - AR </span>
                          </a>
                        </li> -->

                        <li class="nav-item dropdown no-arrow"></li>
                        <div id="google_translate_element" class="google mt-4"></div>
                        </li>
                        <script type="text/javascript">
function googleTranslateElementInit() {
	new google.translate.TranslateElement({pageLanguage: 'es', includedLanguages: 'en,es,pt', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true}, 'google_translate_element');
        }
                        </script>
                        <style>
                            .goog-te-banner-frame,
                            .goog-te-gadget img {
                                display: none !important;
                            }

                            #page-top {
                                top: 0px !important
                            }

                            a:hover {
                                text-decoration: none !important;
                            }

                            .goog-te-menu2-item div, .goog-te-menu2-item:link div, .goog-te-menu2-item:visited div, .goog-te-menu2-item:active div {
                                color: 102c54;
                                background: #ffffff;
                            }

                            .goog-te-gadget-simple {
                                background-color: #fff;
                                border-left: 1px solid #d5d5d5;
                                border-top: 1px solid #d5d5d5;
                                border-radius: 5px;
                                border-bottom: 1px solid #d5d5d5;
                                border-right: 1px solid #d5d5d5;
                                font-size: 10pt;
                                font-family: 'Nunito';
                                display: inline-block;
                                padding-top: 1px;
                                padding-bottom: 2px;
                                cursor: pointer;
                                zoom: 1;
                                *display: inline;
                            }

                            .goog-te-combo, .goog-te-banner *, .goog-te-ftab *, .goog-te-menu *, .goog-te-menu2 *, .goog-te-balloon * {
                                font-family: 'Nunito' !important;
                                font-size: 11pt !important;
                            }
                        </style>

                        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>



                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>

                                <span class="badge badge-danger badge-counter">1</span>

                            </a>

                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Notificaciones
                                </h6>

                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">Hoy</div>
                                        El resultado ya se encuentra disponible.
                                    </div>
                                </a>

                                <a class="dropdown-item text-center small text-gray-500" href="#">Ver todas las notificaciones</a>

                            </div>

                        </li>

                        <li class="nav-item dropdown no-arrow mx-1">

                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">UNLaM</span>
                                <img class="img-profile rounded-circle" src="img/m.png">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Mi perfil
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesión
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <div class="container-fluid">
                    <div class="form-group row">
                        <div class="col-12 text-right">
                            <button name="submit" type="submit" class="btn btn-primary">Cambiar contraseña</button>
                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-8 mb-5" style="margin:0 auto;">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h4>Información personal</h4>
                                        <hr>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form>
                                            <div class="form-group row">
                                                <label for="username" class="col-4 col-form-label">Usuario</label>
                                                <div class="col-8">
                                                    <input value="admin@sada.com" id="username" name="username" placeholder="Username" class="form-control here" required="required" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="name" class="col-4 col-form-label">Nombre</label>
                                                <div class="col-8">
                                                    <input value="Administrador" id="name" name="name" placeholder="First Name" class="form-control here" type="text">
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <h6>Acerca de la Institución:</h6>
                                                <hr>
                                            </div>
                                            <div class="form-group row">
                                                <label for="lastname" class="col-4 col-form-label">Nombre</label>
                                                <div class="col-8">
                                                    <input value="Universidad Nacional de La Matanza" id="lastname" name="lastname" placeholder="Last Name" class="form-control here" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="text" class="col-4 col-form-label">CUIT</label>
                                                <div class="col-8">
                                                    <input value="30-64622868-5" readonly="readonly" id="text" name="text" placeholder="Nick Name" class="form-control here" required="required" type="text">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="email" class="col-4 col-form-label">Dirección</label>
                                                <div class="col-8">
                                                    <input value="Florencio Varela 1903" id="email" name="email" placeholder="Email" class="form-control here" required="required" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="website" class="col-4 col-form-label">Teléfono</label>
                                                <div class="col-8">
                                                    <input value="4480-8900" id="website" name="website" placeholder="website" class="form-control here" type="text">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="select" class="col-4 col-form-label">Ámbito</label>
                                                <div class="col-8">
                                                    <select id="select" name="select" class="custom-select">
                                                        <option value="admin">Público</option>
                                                        <option value="admin">Privado</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="select" class="col-4 col-form-label">Nivel</label>
                                                <div class="col-8">
                                                    <select id="select" name="select" class="custom-select">
                                                        <option value="admin">Primario</option>
                                                        <option value="admin">Secundario</option>
                                                        <option value="admin">Terceario</option>
                                                        <option value="admin" selected>Universitario</option>

                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row text-center pt-3 mb-3">
                                                <div class="col-md-12">
                                                    <button name="submit" type="submit" class="btn btn-primary">Guardar cambios</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
    </div>

    <footer class="sticky-footer bg-white">
        <div class="container my-auto">
            <div class="copyright text-center my-auto">
                <span>Copyright &copy; SADA 2020</span>
            </div>
        </div>
    </footer>

    </div>

    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">¿Está seguro que desea salir?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <a class="btn btn-primary" href="login.html">Salir</a>
                </div>
            </div>
        </div>
    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <script src="js/sb-admin-2.min.js"></script>

    <script src="vendor/chart.js/Chart.min.js"></script>

    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

    <script>

$(document).ready(function () {
  $('#dataTable').DataTable({
    "pagingType": "simple" // "simple" option for 'Previous' and 'Next' buttons only
  });
  $('.dataTables_length').addClass('bs-select');
});
    </script>


    <script>

  var xport = {
    _fallbacktoCSV: true,
    toCSV: function(tableId, filename) {
      this._filename = (typeof filename === 'undefined') ? tableId : filename;
      // Generate our CSV string from out HTML Table
      var csv = this._tableToCSV(document.getElementById(tableId));
      // Create a CSV Blob
      var blob = new Blob([csv], { type: "text/csv" });

      // Determine which approach to take for the download
      if (navigator.msSaveOrOpenBlob) {
        // Works for Internet Explorer and Microsoft Edge
        navigator.msSaveOrOpenBlob(blob, this._filename + ".csv");
      } else {
        this._downloadAnchor(URL.createObjectURL(blob), 'csv');
      }
    },
    _getMsieVersion: function() {
      var ua = window.navigator.userAgent;

      var msie = ua.indexOf("MSIE ");
      if (msie > 0) {
        // IE 10 or older => return version number
        return parseInt(ua.substring(msie + 5, ua.indexOf(".", msie)), 10);
      }

      var trident = ua.indexOf("Trident/");
      if (trident > 0) {
        // IE 11 => return version number
        var rv = ua.indexOf("rv:");
        return parseInt(ua.substring(rv + 3, ua.indexOf(".", rv)), 10);
      }

      var edge = ua.indexOf("Edge/");
      if (edge > 0) {
        // Edge (IE 12+) => return version number
        return parseInt(ua.substring(edge + 5, ua.indexOf(".", edge)), 10);
      }

      // other browser
      return false;
    },
    _isFirefox: function(){
      if (navigator.userAgent.indexOf("Firefox") > 0) {
        return 1;
      }

      return 0;
    },
    _downloadAnchor: function(content, ext) {
        var anchor = document.createElement("a");
        anchor.style = "display:none !important";
        anchor.id = "downloadanchor";
        document.body.appendChild(anchor);

        // If the [download] attribute is supported, try to use it

        if ("download" in anchor) {
          anchor.download = this._filename + "." + ext;
        }
        anchor.href = content;
        anchor.click();
        anchor.remove();
    },
    _tableToCSV: function(table) {
      // We'll be co-opting `slice` to create arrays
      var slice = Array.prototype.slice;

      return slice
        .call(table.rows)
        .map(function(row) {
          return slice
            .call(row.cells)
            .map(function(cell) {
              return '"t"'.replace("t", cell.textContent);
            })
            .join(",");
        })
        .join("\r\n");
    }
  };
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.js"
            integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.8/shim.min.js" integrity="sha512-nPnkC29R0sikt0ieZaAkk28Ib7Y1Dz7IqePgELH30NnSi1DzG4x+envJAOHz8ZSAveLXAHTR3ai2E9DZUsT8pQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.8/xlsx.full.min.js" integrity="sha512-NerWxp37F9TtBS1k1cr2TjyC9c8Qh6ghgqVBOYXaahgnBkVT6a8KVbO05Z8+LnIIom4CJSSQTZ3VbL396scK5w==" crossorigin="anonymous"></script>


</body>
</html>
























