﻿@page
@{
    ViewData["Title"] = "Procesamiento";
}
<div class="container-fluid">

    <div id="contenedorProcesar" class="d-sm-flex align-items-center justify-content-between mb-4">
        <select class="d-sm-inline-block btn btn-sm btn-light shadow-sm" style="width: 150px;" id="selectHoras">
            <option selected value="12">12 Horas</option>
            <option value="20">20 Horas</option>
            <option value="40">40 Horas</option>
        </select>
        <div class="input-group-append">
            <div id="ejecutarAlgoritmo" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="width: 95px;"><i class="fa fa-cogs fa-sm text-white-50"></i> Procesar </div>
        </div>
    </div>

    <div id="limpiar" class="align-items-center float-right justify-content-between mb-4" style="width: 95px; display: none;">
        <h1 class="h3 mb-0 text-gray-800"> </h1>
        <a href="JavaScript: location.reload(true);" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" style="width: 95px;"><i class="fa fa-redo fa-sm text-white-50" aria-hidden="true"></i> Limpiar </a>
    </div>

    <div id="spinner" class="text-center mb-3">
        <div class="spinner-border text" role="status" style="width:1.5rem;height: 1.5rem;">
        </div>
        <span>Iniciando el algoritmo gen&eacute;tico...</span>
    </div>

    <div class="container-fluid mt-5 pt-5">
        <div class="row w-100">
            <div class="col-md-1">
            </div>
            <div class="col-md-2 mt-2">
                <div class="card border-dark mx-sm-1 p-3">
                    <div class="text-info text-center mt-3"><h6>Opci&oacute;n 1</h6></div>
                    <div class="text-info text-center mt-2">
                        <div id="pulgarAG000"></div>
                    </div>
                    <div class="text-dark text-center mt-2">
                        <div class="form-inline text-center">
                            <i class='fa fa-clock'></i>&nbsp;
                            <div id="AG000"></div>
                        </div>
                        <div class="progress mb-3" style="height: 15px;">
                            <div id="BAG000" class="progress-bar bg-gradient-primary progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <!-- botón ver resultado. -->
                        <div id="verResultadoAG000" style="display:none;">
                            <a id="linkAG000" href="#" target="_blank" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mt-2">
                <div class="card border-dark mx-sm-1 p-3">
                    <div class="text-info text-center mt-3"><h6>Opci&oacute;n 2</h6></div>
                    <div class="text-info text-center mt-2">
                        <div id="pulgarAG001"></div>
                    </div>
                    <div class="text-dark text-center mt-2">
                        <div class="form-inline">
                            <i class='fa fa-clock'></i>&nbsp;
                            <div id="AG001"></div>
                        </div>
                        <div class="progress mb-3" style="height: 15px;">
                            <div id="BAG001" class="progress-bar bg-gradient-primary progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div id="verResultadoAG001" style="display:none;">
                            <a id="linkAG001" href="#" target="_blank" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mt-2">
                <div class="card border-dark mx-sm-1 p-3">
                    <div class="text-success text-center mt-3"><h6>Opci&oacute;n 3</h6></div>
                    <div class="text-info text-center mt-2">
                        <div id="pulgarAG002"></div>
                    </div>
                    <div class="text-dark text-center mt-2">
                        <div class="form-inline">
                            <i class='fa fa-clock'></i>&nbsp;
                            <div id="AG002"></div>
                        </div>
                        <div class="progress mb-3" style="height: 15px;">
                            <div id="BAG002" class="progress-bar bg-gradient-primary progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div id="verResultadoAG002" style="display:none;">
                            <a id="linkAG002" href="#" target="_blank" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mt-2">
                <div class="card border-dark mx-sm-1 p-3">
                    <div class="text-danger text-center mt-3"><h6>Opci&oacute;n 4</h6></div>
                    <div class="text-info text-center mt-2">
                        <div id="pulgarAG003"></div>
                    </div>
                    <div class="text-dark text-center mt-2">
                        <div class="form-inline">
                            <i class='fa fa-clock'></i>&nbsp;
                            <div id="AG003"></div>
                        </div>
                        <div class="progress mb-3" style="height: 15px;">
                            <div id="BAG003" class="progress-bar bg-gradient-primary progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div id="verResultadoAG003" style="display:none;">
                            <a id="linkAG003" href="#" target="_blank" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mt-2 mb-5 pb-5">
                <div class="card border-dark mx-sm-1 p-3">
                    <div class="text-warning text-center mt-3"><h6>Opci&oacute;n 5</h6></div>
                    <div class="text-info text-center mt-2">
                        <div id="pulgarAG004"></div>
                    </div>
                    <div class="text-dark text-center mt-2">
                        <div class="form-inline">
                            <i class='fa fa-clock'></i>&nbsp;
                            <div id="AG004"></div>
                        </div>
                        <div class="progress mb-3" style="height: 15px;">
                            <div id="BAG004" class="progress-bar bg-gradient-primary progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div id="verResultadoAG004" style="display:none;">
                            <a id="linkAG004" href="#" target="_blank" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Ver</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>

</div>

<script src="vendor/jquery/jquery.min.js"></script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/sadaAG.js"></script>