﻿@page
@{
    ViewData["Title"] = "Resultados";
}
<style>
    td.ui-sortable-handle {
        cursor: move;
    }
</style>

<div class="container-fluid">



    <div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="text" id="solucionId" value="@Request.Query["id"]" hidden />
            </div>
        </div>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <a id="exportarExcelN" style="color:#FFF" onclick="exportarExcelv2();" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download"></i> Exportar a Excel</a>
    </div>

    <div class="card-header py-3">
        <h4 class="m-0 font-weight-bold text-primary text-center">CRONOGRAMA SEMANAL</h4>
    </div>

    <div id="resultado">
    </div>
    <div id="spinner" class="text-center mb-3">
        <br /><br /><br />
        <div class="spinner-border text" role="status" style="width:1.5rem;height: 1.5rem;">
        </div>
        <span>Cargando soluci&oacute;n...</span>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.slim.js"
        integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.8/shim.min.js" integrity="sha512-nPnkC29R0sikt0ieZaAkk28Ib7Y1Dz7IqePgELH30NnSi1DzG4x+envJAOHz8ZSAveLXAHTR3ai2E9DZUsT8pQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.8/xlsx.full.min.js" integrity="sha512-NerWxp37F9TtBS1k1cr2TjyC9c8Qh6ghgqVBOYXaahgnBkVT6a8KVbO05Z8+LnIIom4CJSSQTZ3VbL396scK5w==" crossorigin="anonymous"></script>

<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>



<script src="~/js/armartabla.js"></script>
<script src="~/js/solucion.js"></script>