﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SADA</title>
    <!--link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /-->
    <!--link rel="stylesheet" href="~/css/site.css" /-->

    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <link href="css/styles-custom.css" rel="stylesheet">
    <link rel="icon" href="images/sada.ico">



    <style>
        .goog-te-banner-frame,
        .goog-te-gadget img {
            display: none !important;
        }

        #page-top {
            top: 0px !important
        }

        a:hover {
            text-decoration: none !important;
        }

        .goog-te-menu2-item div, .goog-te-menu2-item:link div, .goog-te-menu2-item:visited div, .goog-te-menu2-item:active div {
            color: 102c54;
            background: #ffffff;
        }

        .goog-te-gadget-simple {
            background-color: #fff;
            border-left: 1px solid #d5d5d5;
            border-top: 1px solid #d5d5d5;
            border-radius: 5px;
            border-bottom: 1px solid #d5d5d5;
            border-right: 1px solid #d5d5d5;
            font-size: 10pt;
            font-family: 'Nunito';
            display: inline-block;
            padding-top: 1px;
            padding-bottom: 2px;
            cursor: pointer;
            zoom: 1;
            *display: inline;
        }

        .goog-te-combo, .goog-te-banner *, .goog-te-ftab *, .goog-te-menu *, .goog-te-menu2 *, .goog-te-balloon * {
            font-family: 'Nunito' !important;
            font-size: 11pt !important;
        }
    </style>
</head>
<body id="page-top">
    
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

            <div class="text-center d-none d-md-inline mt-5"></div>

            <div class="sidebar-brand-text mx-5"></div>
            <li class="nav-item active">
                <a class="nav-link" href="Aulas">
                    <i class="fa fa-graduation-cap"></i>
                    <span>Aulas</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="Asignaturas">
                    <i class="fa fa-paperclip"></i>
                    <span>Asignaturas</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="Comisiones">
                    <i class="fa fa-users"></i>
                    <span>Comisiones</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="Procesamiento">
                    <i class="fa fa-file"></i>
                    <span>Procesamiento</span>
                </a>
            </li>
            <hr class="sidebar-divider" />
        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand logo-image" href="admin.html"><img src="img/sada.png" alt="" width="125"></a>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <li class="nav-item dropdown no-arrow">
                            <div id="google_translate_element" class="google mt-4"></div>
                        </li>

                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>

                                <span class="badge badge-danger badge-counter">1</span>

                            </a>

                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Notificaciones
                                </h6>

                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-info">
                                            <i class="fas fa-info-circle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">Hoy</div>
                                        Le damos la bienvenida a la plataforma SADA!
                                    </div>
                                </a>

                                <a class="dropdown-item text-center small text-gray-500" href="#">Ver todas las notificaciones</a>

                            </div>

                        </li>

                        <li class="nav-item dropdown no-arrow mx-1">

                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">UNLaM</span>
                                <img class="img-profile rounded-circle" src="img/m.png">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Mi perfil
                                </a>

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cerrar sesión
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>

                <!--div class="container"-->
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
                <!--/!-div-->
            </div>

            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2020 SADA - Sistema de Asignación Digital de Aulas</span>
                    </div>
                </div>
            </footer>

            <a class="scroll-to-top rounded" href="#page-top">
                <i class="fas fa-angle-up"></i>
            </a>

            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">¿Está seguro que desea salir?</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                            <a class="btn btn-primary" href="login.html">Salir</a>
                        </div>
                    </div>
                </div>
            </div>

            @*<script src="vendor/jquery/jquery.min.js"></script>*@
            <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

            <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

            <script src="js/sb-admin-2.min.js"></script>

            <script src="vendor/chart.js/Chart.min.js"></script>

            <script src="js/demo/chart-area-demo.js"></script>
            <script src="js/demo/chart-pie-demo.js"></script>

            <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({ pageLanguage: 'es', includedLanguages: 'en,es,pt', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true }, 'google_translate_element');
                }
            </script>

            <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

            @RenderSection("Scripts", required: false)
</body>
</html>
